body {
    background-color: #eee;

    * {
        overflow-wrap: break-word;
    }
}

#wrapper {
    max-width: 450px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#errorAlert {
    position: absolute;
    top: 56px;
    font-size: 13px;
}

#waitingWrapper {
    display: none;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: calc(50vh - 1rem) calc(50vw - 1rem);
}

.btn-wrapper {
    border: none;
    background-color: transparent;
    padding: 0;
}

.modal-body {
    overflow-y: scroll;
    max-height: 50vh;
}