#threadDetailHeader {
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}

#itemListHeader {
    background-color: #eef5ff;
    font-weight: bold;
    padding: 5px 0;
}

#chatContent {
    height: 60vh;
    overflow-y: scroll;
    background-color: #def;
}

$bubble_radius: 5px;
$jag_length: 10px;
$jag_upper_skew: 3px;
$jag_lower_skew: 5px;
$bubble_color: #fff;
$my_color: #bcf;

.message {
    display: flex;
    max-width: 80%;

    .said_by {
        font-size: 10px;
        color: #888;
        margin: 0;
    }
    
    .bubble {
        position: relative;
        background-color: $bubble_color;
        border-radius: $bubble_radius;
        padding: 3px 10px;
        white-space: pre-wrap;
        margin: 0;
    
        &::before {
            content: '';
            position: absolute;
            left: -$jag_length;
            top: $bubble_radius;
            width: 0;
            height: 0;
            border-right: $jag_length solid $bubble_color;
            border-top: $jag_upper_skew solid transparent;
            border-bottom: $jag_lower_skew solid transparent;
        }
    }
}

.my-message {
    @extend .message;
    justify-content: flex-end;
    margin-left: auto;

    .bubble {
        background-color: $my_color;

        &::before {
            left: auto;
            right: -$jag_length;
            transform: rotateY(180deg);
            border-right-color: $my_color;
        }
    }
}

#messageSender {
    width: 100%;
    position: sticky;
    bottom: 0;

    button {
        width: 40px;
    }
}